@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: PR;
    src: url('../src/font/poppins.regular.ttf');
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: PR;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #232427;
}